body {
  margin-right: -10px;
}

section {
  text-align:center;
}

 article {
  width: 200px;
  padding: 10px;
  border: 3px solid white;
  text-align: center;
  background-color: #FFFFFF;
  color: #26C6DA;
  border-radius: 60px;
  font-size: 12px;
  margin-left: 10px;
  border: 3px solid #26C6DA;
}

article .about_box:hover {
  box-shadow: 0 0px 9px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-in-out;
}


h1 {
  font-family:'Work Sans', sans-serif;
  color: #26C6DA
}

h2:hover {
    background-color: #E0F7FA;
    color: #26C6DA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.bold {
  color: #26C6DA;
  font-size: 18px;
  text-align: center;
  padding:10px;
  font-weight: 900;
}

aside {
  height: auto;
  margin-top: 40px;
  text-align: center;
}

.image_about {
  border-radius: 50%;
  overflow: hidden;
  width: 300;
  height:300;
  border: 3px solid white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-in-out;
}
