.nav_bar {
  border: 2px solid black;
  background-color: grey;
  margin-bottom: 40px;
}

/*New css*/
.nav_bar nav ul li {
  text-decoration: none;
  list-style: none;
  display: inline;
}


.nav_bar nav ul  {
  display: flex;
  justify-content: space-between;
}
