.nav_bar {
  border-bottom: 5px solid #26C6DA;
  background-color: white;
  margin-bottom: 40px;
}

.nav_bar ul {
    margin: 0px;
}

/*New css*/
.nav_bar nav ul li {
  text-decoration: none;
  list-style: none;
  display: inline;
}

.nav_bar nav ul  {
  display: flex;
  justify-content: space-between;
}

.nav_bar img {
  width: 75px;
  height: 75px;
}

.plus_button {
  border: 3px solid #26C6DA;
  border-radius: 5px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #26C6DA;
  color:white;
}

header a:hover {
    background-color: #E0F7FA;
    color: #26C6DA;
}

header a {
    text-decoration: none;
    color: #26C6DA;
    margin-right: 15px;
}

header h1 {
  display: inline-block;
  margin-left: 33%;
}

header h1 a:hover {
  background-color: transparent;
}
