body {
  margin-right: -10px;
}

.post_text figcaption {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post_image {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}

.post_list {
  width: 1080px;
  margin: auto;
}

.feed_title {
  font-size: 35px;
  margin-left: 440px;
}

h1 {
  font-family:'Work Sans', sans-serif;
  color: #26C6DA
}

#melfred-says {
  font-weight: bold;
  text-align: center;
  font-style: italic;
  font-size: 42px;
  line-height: 2;
}