label {
  display: block;
}

.login_button {
  margin-top: 10px;
}

fieldset {
  border: none;
}

h1 {
  font-family:'Work Sans', sans-serif;
  color: #26C6DA;
}

body {
  background-color: #E0F7FA;
  font-family: "Open Sans", sans-serif;
}
