body {
  margin: 0px auto;
  background-color: #E0F7FA;
  font-family: "Open Sans", sans-serif;
}

.input_field {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  margin: 0px auto;
}

.signup_form {
  position: relative;
  margin-top: 700px;
  max-width: 600px;
  height: 400px;
  margin: 0px auto;
}

input[type="text"] {
  width: 40%;
}

input[type="password"] {
  width: 40%;
}

.error {
  color: red;
  font-size: 16px;
}

.photobox {
  display: flex;
  align-items: center;
}

.photobox label {
  width: 200px;
  text-align: center;
}

.photobox video,
.photobox img {
  width: 200px;
  height: 150px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
