body {
  margin: 0px auto;
  background-color: #E0F7FA;
  font-family: "Open Sans", sans-serif;
}

.input_field {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  margin: 0px auto;
}

.signup_form {
  position: relative;
  margin-top: 700px;
  max-width: 600px;
  height: 400px;
  margin: 0px auto;
}

input[type="text"] {
  width: 40%;
}

input[type="password"] {
  width: 40%;
}

input[type="email"] {
  width: 40%;
}


.error {
  color: red;
  font-size: 12px;
  align-items: center;
}

.photobox {
  display: flex;
  align-items: center;
}

.photobox label {
  width: 200px;
  text-align: center;
}

.photobox video,
.photobox img {
  width: 200px;
  height: 150px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}

.signup_div{
  margin:0 auto;
  text-align:center;
}

.signup_text{
    text-align: center;
}

.signup_div input{

}

ul.tab-header {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}


/* Float the list items side by side */
ul.tab-header li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

/* Style the links inside the list items */
ul.tab-header li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab-header li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab-header li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.profile_tab {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 75%;
    margin: 0 auto;
    height:200px;
}



#webcam-vid, #webcam-canvas{
  width: 200px;
  height:150px;
  margin:0;
  padding:0;
}


#profile_img_box{
  /*background-color: lightgrey;*/

}

.left-tab{
  border-left: none !important;
}

.right-tab{
  border-right: none !important;
}
