<!DOCTYPE html>
<html>
  <head>
    <title> 405 Method Not Allowed </title>{% include _shared_head.html %}
    <link rel="stylesheet" type="text/css" href="/static/css/404.css">
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>

        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
              <img src="/static/images/About4.jpg" width='500' height ='400' class = 'image_about'/>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
              <img src="/static/images/About2.jpg" width='500' height ='400' class = 'image_about'/>
            </div>
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
          <img src="/static/images/About3.jpg" width='500' height ='400' class = 'image_about'/>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  </div>

<script>  var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
      <h1>405x <br> Sorry, that protocol is not allowed :(.</h1>
        <p>
          We could not <a href="/"><strong>'Find'</strong></a> your protocol!
        </p>
    </main>
  </body>
</html>
