<header>
  <div>
    <a href="/">
      <img alt="website logo" src="/static/images/logo_small.png"/>
    </a>
    <h1>
      <a href="/">Find It!</a>
    </h1>
    <nav>
      {% if signed_in %}
        <a class='plus_button' href="/ask">Ask</a>
        <a class ='username' href="/profile/{{ username }}">Profile</a>
        <a href="/logout"> Log Out </a>
      {% end if %}
      {% if not signed_in %}
        <a href="/signin"> Sign in </a>
        <a href="/signup"> Sign Up </a>
      {% end if %}
      <a href="/aboutus"> About Us </a>
      </nav>
  </div>
</header>
