<!DOCTYPE html>
<html>
  <head>
    <title> About Us </title>{% include _shared_head.html %}
    <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>
      <h1>About Us</h1>
      <br>
      <h2>Group Three</h2>
        <article>
          <br>
        <div class='each_box'><div class='bold'>Our mission:</div><div class = "about_box"> As a team, our primary mission in the creation of 'Find it!'
         is to provide a world-wide plaform for web users to locate and assist in the finding
         of various items. </div></div>

         <div class='each_box'><div class='bold'>Our purpose:</div><div class = "about_box"> Our team has accquired the mission to errect a dynamic, social intended
         website over the course of the past 7 days. I would tell you a UDP joke, but you might not get it.</div></div>

         <div class='each_box'><div class='bold'>Our team:</div><div class = "about_box"> We are compiled of Terrific Tracey, Magical Matilda, Jumpy Jack, Lukewarm luke,<br> Cuddly Courtney, Rad Rachel, Smiley Sarah, Joyful Jack, Destructive Dylan</div></div>

         <div class='each_box'><div class='bold'>Our Future:</div><div class = "about_box"> Our team has accquired the mission to errect a dynamic, social intended
         website over the course of the past 7 days. I would tell you a UDP joke, but you might not get it.</div></div>
        </article>


        <aside>
          <img src="static/images/About1.jpg" width = "600" class = 'image_about'/>
        </aside>
    </main>
  </body>
</html>
