<!--try: localhost:8888/ask?name=username -->
<!--try: localhost:8888/ask -->
<!--try: localhost:8888/ask?name=hey -->

<!doctype html>
<html>
  <head>
    <title>Ask Question!</title>
  </head>

  <body>
    <p>Ask Question!</p>
    <p>Username = {username}</p>
    <form action="/ask" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>
                Details
            </legend>
            <p>
                <label>Question:</label>
                <input type="text" name="username">
                <label>Images</label>
                <input type="file" name="fileupload" id="fileupload">
                <label for="fileupload"> Select a file to upload</label>
                <input type="submit" value="submit">
            </p>

        </fieldset>
    </form>
  </body>
</html>
