<!doctype html>
<html>
  <head>
    {% include _shared_head.html %}
    <link rel="stylesheet" type='text/css' href='static/css/askQuestion.css'>
    <script src='static/js/validate.js'></script>
    <title>Ask a Question!</title>
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>
      <div class="wholething">
        <form action="/ask" method="post" enctype = "multipart/form-data">
          <h1>Ask a Question</h1>
          <div class="question">
            <label for="question">Question:</label>
            <input class='ask_question' type="text" name="question">
            <p class='error' class='error'></p>
          </div>
          <div class="question">
            <label for="upload">Upload an image of the product you want to find!</label>
            <input class='img_upload' type="file" name="fileupload" id="fileupload">
            <p class='error'></p>
          </div>
          <div class="question">
            <label for="description">Description</label>
            <input class='description' type="text" name="description" >
            <p class='error'></p>
          </div>
          <p class="question">
            <input class='post_submit' type="submit" value="Submit">
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
