<!--try: localhost:8888/ask?name=username -->
<!--try: localhost:8888/ask -->
<!--try: localhost:8888/ask?name=hey -->

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type='text/css' href='site/css/reset.css'>
    <link rel="stylesheet" type='text/css' href='site/css/style.css'>
    <link rel="stylesheet" type='text/css' href='site/css/askQuestion.css'>
    <title>Ask a Question!</title>
  </head>
  <body>
    <section>
      <div>
        <nav>
          <ul>
            <li><a href="#">Logo here</a></li>
            <li><a href="#">Title Here</a></li>
            <li><a href="#">Username = {username}</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <div class="wholething">
      <form action="/ask" method="post" enctype="multipart/form-data">
        <h1>Ask a Question</h1>
        <p class="question">
          <label for="question">Question:</label>
          <input type="text" name="question">
        </p>
        <p class="question">
          <label for="upload">Upload an image of the product you want to find!</label>
          <input type="file" name="upload">
        </p>
        <p class="question">
          <label for="description">Description</label>
          <input type="text" name="description">
        </div>
        <div class="question">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>
