<!doctype html>
<!--url: file:///C:/Users/sh8151/Desktop/projects-2017-3/site/index.html -->
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href='static/css/reset.css'>
    <link rel="stylesheet" type='text/css' href='static/css/index.css'>
    <link rel="stylesheet" type='text/css' href='static/css/_nav_bar.css'>
    <title>
    </title>
  </head>
  <body>
    {% include _nav_bar.html %}
    <section Class = 'feed_title'>
      <h1>Feed</h1>
    </section>
    <!-- for the back-end. Will need to be moved later-->
    <section>
      <a href="signin.html"> Sign in </a>
      <a href="signup.html"> Sign Up </a>
      <a href="notsignedin.html"> Not signed in </a>
    </section>
    <!-- for the back-end. Will need to be moved later-->
    <div class = 'post_list'>
      {% for post in posts %}
      <fieldset>
          <img class='post_image' src= "static/images/{{ post['image'] }}" alt= "Books">
          <div class = 'post_text'>
              <figcaption>
                {{ post['question'] }}
              </figcaption>
          </div>
      </fieldset>
      {% end for %}
   </div>
</div>
</body>
</html>
