<!doctype html>
<!--url: file:///C:/Users/sh8151/Desktop/projects-2017-3/site/index.html -->
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href='static/css/reset.css'>
    <link rel="stylesheet" type='text/css' href='static/css/index.css'>
    <title>
    </title>
  </head>
  <body>
    <header>
      <a href="#"> Logo here </a>
      <h1>Title here</h1>
      <nav>
        <a href="#">Username</a>
      </nav>
    </header>
    <section Class = 'feed_title'>
      <h1>Feed</h1>
    </section>
    <div class = 'post_list'>
      {% for post in posts %}
      <fieldset>
          <img class='post_image' src= "static/images/{{ post['image'] }}" alt= "Books">
          <div class = 'post_text'>
              <figcaption>
                {{ post['question'] }}
              </figcaption>
          </div>
      </fieldset>
      {% end for %}
      {% comment %}
      <fieldset>
          <img class='post_image' src= "static/images/cats.jpg" alt= "Cats">
          <div class = 'post_text'>
            <figcaption>
                Where do I find this cat?
            </figcaption>
        </div>
      </fieldset>

      <fieldset>
          <img class='post_image' src= "static/images/mountains.jpg" alt= "Mountains">
          <div class = 'post_text'>
            <figcaption>
                Where do I find this mountain?
            </figcaption>
        </div>

      </fieldset>
      {% end comment %}
   </div>

</div>
</body>
</html>
