<!doctype html>
<html>
  <head>
    {% include _shared_head.html %}
    <link rel="stylesheet" type='text/css' href='static/css/index.css'>
  </head>
  <body>
    {% include _nav_bar.html %}
    <div class = 'post_list'>
      {% for post in posts %}
      <a href="/view/{{post['id'] }}">
        <fieldset class="image_fieldset">
          <figure>
            <img class='post_image' src= "/static/{{ post['image'] }}" alt= "{{ post['question'] }}">
            <figcaption class="post_text">
              {{ post['question'] }}
            </figcaption>
          </figure>
        </fieldset>
      </a>
      {% end for %}
   </div>
</body>
</html>
