<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/signin.css">
    <link rel="stylesheet" type='text/css' href='static/css/_nav_bar.css'>
  </head>
  <body>
    {% include _nav_bar.html %}
    <header>
      <h1>Not signed in!</h1>
    </header>
    <main>
      <div>
        <a href="/signin.html"> Go to login page</a>
      </div>
    </main>
  </body>
</html>
