<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type='text/css' href='/static/css/Profile.css'>
    {% include _shared_head.html %}
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>
      <div class='user_info'>
        <p class="username_profile"> Username: <span class="profile_info">{{ username }}</span> </p>
        <p> Nickname: <span class="profile_info">{{ nickname }}</span> </p>
        <p> Email: <span class="profile_info">{{ email }}</span> </p>
      <!-- The user geneder is not data we are relating to the website -->
      <!-- We are not collecting the user date of brith -->
        <p class="image"> Picture: <img src= "/static/uploads/user_image/{{ picture }}">
        </p>
      </div>
    </main>
  </body>
</html>
