<!DOCTYPE html>
<html>
  <head>
    {% include _shared_head.html %}
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <script src='/static/js/jquery.js'></script>
    <script src='/static/js/validate.js'></script>
    <script src='/static/js/signup.js'></script>
    <script src='/static/js/signup_webcam.js'></script>
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>

      <div class="signup_form">
        <h2>Sign Up</h2>
        <p>Fields marked with * need to be filled in to continue.</p>
        <form class="sign-up" action="/signup" method="post" enctype = "multipart/form-data">
          <fieldset>
            <div class="signup_div">
              <label for="username" class="signup_text">Username *</label>
              <input id="username" type="text" name="username" placeholder="Enter a username" val="{{ username }}" autofocus required>
              <p class='error'></p>
            </div>
            <div class="signup_div">
              <label for="nickname" class="signup_text">Nickname *</label>
              <input  id="nickname" type="text" name="nickname" placeholder="Enter a nickname" required>
              <p class='error'></p>
            </div>
            <div class="signup_div">
              <label for="password">Password *</label>
              <input id="password" type="password" name="password" placeholder="Enter a password" required>
              <p class ='error'> </p>
            </div>
            <div class="signup_div">
              <label for="password-check">Repeat Password *</label>
              <input id="password-check" type="password" name="password" placeholder="Enter a password" required>
              <p class ='error'> </p>
            </div>
            <div class="signup_div">
              <label for="email" class="signup_text">Email *</label>
              <input id="email" type='email' name="email" placeholder="Enter an email" required>
                <p class ='error'></p>
            </div>

            <ul class="tab-header">
              <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openDiv(event, 'profile_img_upload')" id="profile-upload-image">
                  Upload
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openDiv(event, 'profile_img_webcam')">
                  Webcam
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openDiv(event, 'profile_img_link')">
                  Link
                </a>
              </li>
            </ul>



            <!-- The tabs -->
            <div class="profile_tab" id="profile_img_upload">
              <label for="profile_picture" class="signup_text">Profile Image</label>
              <input type="file" id="profile_picture" name="profile_picture">
              <p class='error' id='unsupported-file-error'>
                {% if unsupported_file_error_msg %}
                  {{ unsupported_file_error_msg }}
                {% end if %}
              </p>
            </div>

            <!-- Experimental live profile pic + Matilda, Tracey, Steph and Sam -->
            <!-- IT WORKS!!! Sends a base64 encoded string representation of the image -->
            <!--
            it can be accessed using:
            ```
            document.querySelector("#webcam-canvas").toDataURL("image/png");
            ```
            on form submission, $("#webcam-input").value  is set to (document.querySelector("#webcam-canvas").toDataURL("image/png"));
            and is posted to the server
            which can be accessed via request.get_field("webcam-input")
            (hopefully :D, its 12am)
            -->
            <div class="profile_tab" id="profile_img_webcam">
                <video autoplay id="webcam-vid"></video>
                <canvas id='webcam-canvas'>
                  Your Browser does not support the canvas element
                </canvas>
                <input id="webcam-input" type="text" name="webcam-input" value="" hidden>
                <p class='error' id='webcam-vid-error'></p>
            </div>

            <div class="profile_tab" id="profile_img_link">
                <p>TODO add a link picture downloader</p>
            </div>

            <div class="signup_div">
              <p>
                <input class="sign_up_submit" type="submit" value="Submit">
              </p>
            </div>
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>
