<!DOCTYPE html>
<html>
  <head>
    {% include _shared_head.html %}
    <link rel="stylesheet" type="text/css" href="static/css/signup.css">
    <script src='/static/js/jquery.js'></script>
    <script src='/static/js/validate.js'></script>
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>

      <div class="signup_form">
        <h2>Sign Up</h2>
        <p>Fields marked with * need to be filled in to continue.</p>
        <form class="sign-up" action="/signup" method="post" enctype = "multipart/form-data">
          <fieldset>
            <div class="signup_div">
              <label for="username" class="signup_text">Username *</label>
              <input id="username" type="text" name="username" placeholder="Enter a username" val="{{ username }}" autofocus required>
              <p class='error'></p>
            </div>
            <div class="signup_div">
              <label for="nickname" class="signup_text">Nickname *</label>
              <input  id="nickname" type="text" name="nickname" placeholder="Enter a nickname" required>
              <p class='error'></p>
            </div>
            <div class="signup_div">
              <label for="password">Password *</label>
              <input id="password" type="password" name="password" placeholder="Enter a password" required>
              <p class ='error'> </p>
            </div>
            <div class="signup_div">
              <label for="password-check">Repeat Password *</label>
              <input id="password-check" type="password" name="password" placeholder="Enter a password" required>
              <p class ='error'> </p>
            </div>
            <div class="signup_div">
              <label for="email" class="signup_text">Email *</label>
              <input id="email" type='email' name="email" placeholder="Enter an email" required>
                <p class ='error'></p>
            </div>
            <div class="signup_div">
                <p>
                  <label for="profile_picture" class="signup_text">Profile Image</label>
                  <input type="file" id="profile_picture" name="profile_picture">
                </p>
            </div>

              <!-- Experimental live profile pic + Matilda, Tracey, Steph and Sam -->
            <div class="signup_div photobox">
              <p class='error' id='unsupported-file-error'>
                {% if unsupported_file_error_msg %}
                  {{ unsupported_file_error_msg }}
                {% end if %}
              </p>
              <p class='error' id='webcam-vid-error'></p>
              <video autoplay id="webcam-vid"></video>
              <canvas width='200' height='150' id='webcam-canvas'> </canvas>
              <input id="webcam-input" type="text" name="webcam-input" value="" hidden>
            </div>

              <script>
              var canvas = $('#webcam-canvas').first()[0];
              var profile_image = $('#webcam-photo').first()[0];
              var ctx = canvas.getContext('2d');
              var video = document.querySelector('video');

              navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;


              if (navigator.getUserMedia){
                // set up the video -> canvas
                navigator.getUserMedia({video: true, audio: false},
                  // success
                  function(stream) {
                    video.srcObject = stream;
                  },
                  // failure
                  function(){
                    console.log("Media failed. Probably denied webcam")
                  }
                );
                // set up canvas by drawing font on it
                ctx.font = "15px Calibri"
                ctx.fillText("Click on preview ", canvas.width/2, canvas.height/2 - 8)
                ctx.fillText("to take snapshot", canvas.width/2, canvas.height/2  + 8)
                // listener on the video element
                video.addEventListener("click", function(){
                  ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                });
              }
              else{
                var $error_message = $("#webcam-vid-error");
                $error_message.text("Your brower does not support webcam for profile pics :(");
              }





              </script>
            </p>
            <p>
              <input class="sign_up_submit" type="submit" value="Submit">
            </p>
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>
