<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/signin.css">
  </head>
  <body>
    <header>
      <h1>Sign In </h1>
    </header>
    <main>
      <div>
        <form action="">
          <fieldset class="signin_form">
            <p>
              <label for="username">Username</label>
              <input type="text" name="username">
            </p>
              <label for="password">Password</label>
              <input type="password" name="password">
            <p>
              <input class="login_button" type="submit" value="login">
            </p>
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>
