<!DOCTYPE html>
<html>
  <head>
    {% include _shared_head.html %}
    <link rel="stylesheet" type="text/css" href="static/css/signup.css">
    <script src='/static/js/jquery.js'></script>
    <script src='/static/js/validate.js'></script>
  </head>
  <body>
    {% include _nav_bar.html %}
    <main>
      <div class="signup_form">
        <h2>Sign Up</h2>
        <form class="sign-in" action="/signup" method="post" enctype = "multipart/form-data">
          <fieldset>
            <div>
              <label for="username">Username</label>
              <input class="username" type="text" name="username">
              <p class='error'> </p>
            </div>
            <div>
              <label for="nickname">Nickname</label>
              <input class="nickname" type="text" name="nickname">
              <p class='error'> </p>
            </div>
            <div>
              <label for="password">Password</label>
              <input class="password" type="password" name="password">
              <p class ='error'> </p>
            </div>
            <div>
              <label for="email">Email</label>
              <input class="email" type='text' name="email">
              <p class='error'> </p>
            </div>
            <p>
              <label>Profile Image</label>
              <input type="file" id="profile_picture" name="profile_picture">

              <!-- Experimental video profile pic + Matilda and Tracey -->
            <div class='photobox'>
              <video autoplay></video>
              <img src="" hidden class='profile_image'>
              <canvas hidden width='200' height='150'> </canvas>
              <label>Click on preview to take snapshot</label>
            </div>

              <script>
              var canvas = document.querySelector('canvas');
              var profile_image = document.querySelector('.profile_image');
              var profile_label = document.querySelector('.photobox label');
              var ctx = canvas.getContext('2d');
              var video = document.querySelector('video');
              var localMediaStream = null;
              navigator.getUserMedia  = navigator.getUserMedia ||
                          navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia ||
                          navigator.msGetUserMedia;
                var errorCallback = function(e) {
                  console.log('Reeeejected!', e);
                };

                function snapshot() {
                  if (localMediaStream) {
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                    // "image/webp" works in Chrome.
                    // Other browsers will fall back to image/png.
                    profile_image.src = canvas.toDataURL('image/webp');
                    profile_image.hidden = false;
                    profile_label.hidden = true;
                  }
                }

                video.addEventListener('click', snapshot, false);

                // Not showing vendor prefixes.
                navigator.getUserMedia({video: true, audio: false}, function(stream) {
                  video.src = window.URL.createObjectURL(stream);

                  localMediaStream = stream;

                  // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
                  // See crbug.com/110938.
                  video.onloadedmetadata = function(e) {
                    // Ready to go. Do some stuff.
                  };
                }, errorCallback);
              </script>
            </p>
            <p>
              <input class="submit" type="submit" value="Submit">
            </p>
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>
