<!DOCTYPE html>
<html>
  <head>
    {% include _shared_head.html %}
    <link rel="stylesheet" type='text/css' href='/static/css/ViewPost.css'>
  </head>
  <body>
    {% include _nav_bar.html %}
    <main class="centered">
      <h1>Question</h1>
      <fieldset>
        <h2>{{ question }}</h2>
        <p>
          <img src="static/images/{{ file }}" alt="Mountains">
        </p>
        <h3>{{ description }}</h3>
        <p>
          <label for="addComment">Do you have an answer?</label>
          <textarea type="text" name="addComment"></textarea>
        </p>
        <p>
          <input type="submit" value="Submit">
        </p>
      </fieldset>
    </main>
  </body>
</html>
