<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href='static/css/reset.css'>
    <link rel="stylesheet" type='text/css' href='static/css/ViewPost.css'>
    <title>View Question</title>
  </head>
  <body>
    <h1>View the Question!</h1>
    <h2>{{ question }}</h2>
    <img src="images/mountains.jpg" alt="Mountains">
    <h3>{{ description }}</h3>
    <p>
      <label for="addComment">Do you have an answer?</label>
      <input type="text" name="addComment">
    </p>
  </body>
</html>
